
/* w3.css import */
@import url(https://www.w3schools.com/w3css/4/w3.css);
/* google icons */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Outlined);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Round);

* {
	box-sizing: border-box;
}

html, body {
	scroll-behavior: smooth;
	width: 100%; max-height: 100%;	height: 100%;
}

.root-element {
	width: 100%;	height: 100%;
	background-color: teal;
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

.w3-bar {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content {
	width: 100%; height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}
.section-header, .section-content {
	height: 100%;	width: 50%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.section-img {
	width: clamp(60%,60%, 100%); padding-top: 60%;
	position: relative;
	margin: 0px auto;
}
.ib {
	width: 50%;	height: 50%;
	margin:	auto;
	position: absolute;
	border: 5px solid teal;
}
#ib1 {
	bottom: 50%; right: 50%;
	background: conic-gradient(at bottom, white 0deg 270deg , white 270deg 295deg, transparent 295deg 302deg, white 302deg 327deg, transparent 327deg 335deg, white 335deg 360deg) no-repeat top;
}
#ib2 {
	bottom: 50%; left: 50%;
	background: conic-gradient(at left, white 0deg 25deg, transparent 25deg 32deg, white 32deg 57deg, transparent 57deg 65deg, white 65deg 90deg, white 90deg 360deg) no-repeat top;
	border-top-right-radius: 50%;
}
#ib3 {
	width: 48%;	height: 48%;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 10;
	background-color: transparent;
	border: none;
}
#ib4 {
	width: 53%;	height: 53%;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 5;
	background-color: teal;
	border: none;
}
#ib5 {
	top: 50%; right: 50%;
	background: conic-gradient(at right, transparent 0deg 180deg, white 180deg 205deg, transparent 205deg 212deg, white 212deg 237deg, transparent 237deg 245deg, white 245deg 270deg, white 270deg 360deg) no-repeat bottom;
	border-bottom-left-radius: 50%;
}
#ib6 {
	top: 50%; left: 50%;
	background: conic-gradient(at top, transparent 0deg 90deg , white 90deg 115deg, transparent 115deg 122deg, white 122deg 147deg, transparent 147deg 155deg, white 155deg 180deg, white 180deg 360deg) no-repeat bottom;
}
.ib img {
	width: auto;	height: 100%;
	margin: auto;
	position: absolute;	top: 0; left: 0; bottom: 0; right: 0;
}

.section-btns {
	width: 100%;
}