/* w3.css import */
@import url(https://www.w3schools.com/w3css/4/w3.css);
@import url(https://www.w3schools.com/lib/w3-theme-black.css);
/* google fonts & icons */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Outlined);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Round);
@import url(https://fonts.googleapis.com/css2?family=Fresca&family=Signika+Negative:wght@300&family=Spline+Sans+Mono:wght@300&display=swap);

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  width: 100vw;
  /* min-height: 100vh; */
  /* height: 100%; */
  height: 100vh;
  background-color: black;
}

h1,
h2,
h3,
i,
iframe {
  font-family: "Signika Negative", sans-serif;
}

p,
button,
a,
span,
summary,
details,
label,
ul,
li,
div,
content *,
section {
  font-family: "Fresca", sans-serif;
  font-size: 20px;
}

input::placeholder,
textarea::placeholder,
input,
textarea {
  font-family: "Spline Sans Mono", monospace;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 8px;
}

.root-element {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
}

#main-nav-id {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-nav-id button {
  margin: 2.5px 5px;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.section-header,
.section-content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

.section-img {
  width: clamp(75%, 75%, 100%);
  padding-top: 75%;
  position: relative;
  margin: 0px auto;
}

.ib {
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  border: 5px solid black;
}

#ib1 {
  bottom: 50%;
  right: 50%;
  background: conic-gradient(
      at bottom,
      white 0deg 270deg,
      white 270deg 295deg,
      transparent 295deg 302deg,
      white 302deg 327deg,
      transparent 327deg 335deg,
      white 335deg 360deg
    )
    no-repeat top;
}

#ib2 {
  bottom: 50%;
  left: 50%;
  background: conic-gradient(
      at left,
      white 0deg 25deg,
      transparent 25deg 32deg,
      white 32deg 57deg,
      transparent 57deg 65deg,
      white 65deg 90deg,
      white 90deg 360deg
    )
    no-repeat top;
  border-top-right-radius: 50%;
}

#ib3 {
  width: 48%;
  height: 48%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: transparent;
  border: none;
}

#ib4 {
  width: 53%;
  height: 53%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: black;
  border: none;
}

#ib5 {
  top: 50%;
  right: 50%;
  background: conic-gradient(
      at right,
      transparent 0deg 180deg,
      white 180deg 205deg,
      transparent 205deg 212deg,
      white 212deg 237deg,
      transparent 237deg 245deg,
      white 245deg 270deg,
      white 270deg 360deg
    )
    no-repeat bottom;
  border-bottom-left-radius: 50%;
}

#ib6 {
  top: 50%;
  left: 50%;
  background: conic-gradient(
      at top,
      transparent 0deg 90deg,
      white 90deg 115deg,
      transparent 115deg 122deg,
      white 122deg 147deg,
      transparent 147deg 155deg,
      white 155deg 180deg,
      white 180deg 360deg
    )
    no-repeat bottom;
}

.ib img {
  width: auto;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.section-btns {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* border: 1px solid purple; */
}

::-webkit-scrollbar {
  display: none;
}

.section-btns button {
  min-width: -webkit-fill-available;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 7px;
}

/* content cards (about and work sections) */
.content-cards {
  width: 95%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
  white-space: pre-line;
}

.form-section {
  width: 100%;
  padding: 20px;
}

.form-section form {
  width: 95%;
  margin: auto;
  height: 100%;
}

.form-section form textarea {
  resize: none;
  height: 150px;
}

/* Right Click Menu */
.rightClickMenu {
  padding: 2.5px 5px;
  width: 250px;
  position: absolute;
  z-index: 100;
  display: none;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.rightClickMenu span {
  margin: 2.5px 0px;
  text-align: right;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 7px 15px;
  line-height: 25px;
  vertical-align: middle;
}

.rightClickMenu i {
  float: left;
  vertical-align: middle;
}

.keyboardShortcuts {
  width: 50%;
  height: fit-content;
  max-height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .root-element {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #main-nav-id {
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  #main-nav-id button {
    height: auto;
    margin: 5px 2.5px;
  }
}

/* media queries */
@media screen and (max-width: 800px) {
  .main-content {
    height: auto;
    overflow: scroll;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }

  .section-header,
  .section-content {
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }

  .section-img {
    width: 80%;
    padding-top: 80%;
  }

  .form-section {
    padding: 5px;
  }

  .form-section form {
    width: 100%;
    padding: 10px;
  }
  .keyboardShortcuts {
    width: 100vw;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 19px;
  }

  h5 {
    font-size: 12px;
  }

  h6 {
    font-size: 7px;
  }
}

@media screen and (max-width: 430px) {
  .section-content {
    padding: 8px;
  }

  .section-header {
    padding: 0px;
  }

  .section-img {
    width: 100%;
    padding-top: 100%;
  }

  .content-cards {
    height: 700px;
  }
  #main-nav-id button {
    padding: 16px !important;
  }
}
