.p-selectbutton {
    .p-button {
        padding: 4px 8px !important;
        color: var(--color2);
        font-size: 0.875rem;
    }
    .p-highlight {
        background-color: rgb(30 64 175);
        color: #FFFFFF;
        cursor: default;
    }
}