#aboutContent {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

#aboutContent::-webkit-scrollbar {
  display: none;
  width: 8px; /* Set the width of the scrollbar */
  height: 8px;
}

#aboutContent::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Set the color of the thumb */
  border-radius: 4px; /* Set the border radius of the thumb */
}

#aboutContent::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}

.active-section {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--color3);
  // height: 250px;

  // Optional: Add a scale effect or other transformations
  transform: scaleY(1.01);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease, border 0.5s ease-in-out;
}
