.cont {
  width: 50%;
  aspect-ratio: 1/1;
  height: 50%;
  border-radius: 16px;
  position: absolute;
}

.pattern {
  background-image: radial-gradient(circle, transparent 4px, var(--color1) 4px);
  background-size: 28px 28px; /* Adjust the size of the dots as needed */
}
