
.aboutDialog {
    .p-dialog-header {
        background-color: var(--color3);
        color: var(--color1);
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }
    .p-dialog-content {
        background-color: var(--color3);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    @media screen and (max-width: 768px) {
        .p-dialog-content {
            border-radius: 0px;
            padding: 8px;
        }
    }
}