.contentBody::-webkit-scrollbar {
  width: 8px;
}
.contentBody::-webkit-scrollbar-thumb {
  cursor: pointer;
  width: 8px;
  background-color: var(--color4);
  border-radius: 8px;
  border: 1px solid var(--color1);
}
.contentBody::-webkit-scrollbar-thumb:hover {
  background-color: var(--color5);
}

[data-typeit-id]:before {
  content: none !important;
  display: none !important;
}

.aboutDialog {
  background-color: transparent;
  .p-dialog-header,
  .p-sidebar-header {
    background-color: var(--color2);
    color: var(--color5);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
  .p-dialog-content,
  .p-sidebar-content {
    background-color: var(--color2);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  @media screen and (max-width: 768px) {
    .p-dialog-content,
    .p-sidebar-content {
      padding: 8px;
    }
  }
}
.p-component-overlay {
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}

.p-accordion-tab .p-accordion-header-link {
  border-radius: 8px;
}

.p-accordion-tab-active .p-accordion-header-link {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #ffffff;
}

.p-accordion-tab-active .p-accordion-content {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

li {
  list-style-position: inside;
}

.slide-up {
  animation: slideUp 0.5s forwards;
}

@media screen and (max-width: 768px) {
  .contentBody::-webkit-scrollbar {
    width: 6px;
  }
  .contentBody::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 6px;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Define the gradient animation */
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Class for the animated gradient background */
.moving-gradient-bg {
  background: linear-gradient(270deg, var(--color4), var(--color5));
  background-size: 800% 800%;
  animation: gradient-move 4s ease infinite; /* 8s animation duration */
}
