@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primereact/resources/themes/tailwind-light/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color1: #0a0a0a;
    --color2: #171717;
    --color3: #404040;
    --color4: #a3a3a3;
    --color5: #fafafa;
  }
  html[data-theme="dark"] {
    --color1: #0a0a0a;
    --color2: #171717;
    --color3: #404040;
    --color4: #a3a3a3;
    --color5: #fafafa;
  }
  html[data-theme="light"] {
    --color1: #fafafa;
    --color2: #a3a3a3;
    --color3: #404040;
    --color4: #171717;
    --color5: #0a0a0a;
  }
}

#root {
  height: 100dvh;
}

* {
  scroll-behavior: smooth;
}

.p-button:focus,
.p-inputtext:enabled:focus,
.p-link:focus {
  box-shadow: none !important;
  outline: none !important;
  // border: 2px solid #cb444a;
  border-color: #353735;
  border: 0px;
}

.p-toast {
  z-index: 10000;
}

a {
  font-style: oblique;
}

ul {
  list-style-type: disc;
}

@media (hover: hover) {
  .p-button:hover {
    color: #353735 !important;
    background-color: #f4f4f4 !important;
    border-color: #f4f4f4 !important;
  }
}

@media only screen and (max-width: 520px) {
  .p-toast {
    width: 80%;
    max-width: 80%;
  }
}
