@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primereact/resources/themes/tailwind-light/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color1: #0a0a0a;
    --color2: #171717;
    --color3: #404040;
    --color4: #a3a3a3;
    --color5: #fafafa;
  }
  html[data-theme="dark"] {
    --color1: #0a0a0a;
    --color2: #171717;
    --color3: #404040;
    --color4: #a3a3a3;
    --color5: #fafafa;
  }
  html[data-theme="light"] {
    --color1: #fafafa;
    --color2: #a3a3a3;
    --color3: #404040;
    --color4: #171717;
    --color5: #0a0a0a;
  }
  html[data-theme="google"] {
    --color1: #fafafa;
    --color2: #fbbc05;
    --color3: #34a853;
    --color4: #4285f4;
    --color5: #ea4335;
  }
  html[data-theme="seafog"] {
    --color1: #7da5aa;
    --color2: #B8CAD0;
    --color3: #d5e1e4;
    --color4: #eeeadd;
    --color5: #404040;
  }
  html[data-theme="vintage"] {
    --color1: #f5e1b3;
    --color2: #dbb070;
    --color3: #5a888a;
    --color4: #5f588a;
    --color5: #b8556c;
  }
}

#root {
  height: 100dvh;
}

* {
  scroll-behavior: smooth;
}

.p-button:focus,
.p-inputtext:enabled:focus,
.p-link:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: #353735;
  border: 0px;
}

.p-toast {
  z-index: 10000;
}

a {
  font-style: oblique;
}

ul {
  list-style-type: disc;
}

@media (hover: hover) and (pointer: fine) {
  .p-button:hover,
  a:hover {
    color: #353735;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
  }
}

@media only screen and (max-width: 520px) {
  .p-toast {
    width: 80%;
    max-width: 80%;
  }
}
